
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}
/* styles.css */
.yellow-gradient {
  background: linear-gradient(90deg, #FFD700 0%, #FFEA00 100%);
}


.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blue-gradient {
  background: linear-gradient(90deg, #0000FF 0%, #00FFFF 100%);
}

.red-gradient {
  background: linear-gradient(90deg, #FF0000 0%, #FFA500 100%);
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

@media screen and (max-width : 1400px) {
    .container{
        max-width: calc(100% - 180px);
    }
}

@media screen and (max-width : 1200px) {

    .grid {
      gap: 20px;
    }

    .home__data{
        padding-right: 40px;
    }

    .home__title{
        font-size: var(--big-font-size);
    }

    .home__description {
     font-size: var(--small-font-size);
    }

    .stats__title {
        padding-left: 35px;
    }

    .stats__title::before{
        width: 22px;
    }

    .skills__container {
        row-gap: 32px;
    }

    .progress__circle {
        width: 100px;
        height: 100px;
    }

    .skills__title{
        margin-top: 20px;
    }

    .resume__icon {
        width: 36px;
        height: 36px;
        line-height: 38px;
    }

    .resume__item {
        padding-left: 55px;
    }

    .portfolio__model-content {
        max-width: 600px;
    }

    .model__close {
        width: 40px;
        height: 40px;
    }

    .form__input-group {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
    }

    .form__input-group .form__input-div:last-child {
     grid-column: 1/-1;
    }

    .form__input-div {
        margin-bottom: 24px;
    }
}

@media screen and (max-width : 1024px) { 

   .container{
    max-width: 720px;
   }

   .home {
    padding: 20px;
    grid-template-columns: 5fr 7fr;
   }

   .home__data {
    padding-right: 0;
   }

   .section {
    padding-block: 50px;
   }

   .section__title {
    margin-bottom: 40px;
   }

   .about__container,
   .resume__container,
   .contact__container {
    grid-template-columns: 1fr;
   }

   .about__container {
    row-gap: 40px;
   }

   .subtitle__center {
    margin-bottom: 45px;
   }

   .skills__container {
    grid-template-columns: repeat(3, 1fr);
   }

   .resume__container {
    row-gap: 45px;
   }

   .resume__item:not(:last-child){
    margin-bottom: 45px;
   }

   .separator {
    margin: 65px auto 50px;
   }

   .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
   }

   .contact__container {
    row-gap: 48px;
   }
}

@media screen and (max-width : 786px) { 

   .home {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 10px;
   }

   .color__block {
    display: none;
   }

   .home__img {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    margin-top: auto;
   }

   .home__content {
    max-width: 500px;
    text-align: center;
    margin-bottom: auto;
   }

   .home__title {
    padding-left: 0;
   }

   .home__title::before {
    all: unset;
   }

   .home__title span {
    display: block;
   }

   .container {
    max-width: 540px;
   }

   .portfolio__model-content {
    padding: 25px 20px;
   }

   .model__close {
    top: -9%;
    right: 0;
   }
}

@media screen and (max-width : 576px) { 
   
  .nav__toggle {
    top: 20px;
    right: 15px;
  }

  .nav__link {
    column-gap: 20px;
  }

  .nav__icon,
  .nav__name {
    font-size: var(--h3-font-size);
  }

  .skills__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio__container {
    grid-template-columns: 1fr;
  }

  .model__list {
    grid-template-columns: 1fr;
  }

  .model__img {
    height: 300px;
  }
  
  .form__input-group {
    grid-template-columns: 1fr;
  }

  .theme__img {
    width: 25px;
  }

  .style__switcher-toggler,
  .theme__toggler {
    width: 40px;
    height: 40px;
  }

  .style__switcher-toggler {
    top: 15%;
  }

  .theme__toggler {
    bottom: 15%;
  }

  .style__switcher-close {
    top: 5%;
  }
}

@media screen and (max-width : 450px) { 

  .home__img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    margin-top: auto;
  }

  .home__content {
    margin-block: auto;
    text-align: left;
  }

  .home__title {
    font-size: var(--h1-font-size);
  }

  .home__description {
    text-align: justify;
  }

  .info__title {
    display: block;
    margin-bottom: 4px;
  }

  .stats__box {
    padding: 15px 15px 25px 20px;
  }

}

@media screen and (max-width : 350px) {

  .home__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: auto;
  }

  .home__title span {
    display: inline;
  }

  .stats{
    grid-template-columns: 1fr;
  }

  .skills__container {
    grid-template-columns: 1fr;
  }
 }